* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

#board {

  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  border: 1px solid black;
}

.cell {
  border: 1px solid black;
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.x, .cell.o {
  cursor: not-allowed;
}

.cell.x {
  background-image: url(/x-symbol-svgrepo-com.svg);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.cell.o {
  background-image: url(/Circle-image.svg);
  background-size: cover;
}

#message {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#msgText {
  padding: 1rem;
  color: #555;
}

#restartBtn {
  padding: 0.5rem;
  width: fit-content;
  border-width: 1px;
  border-color: #999;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #999;
}
#restartBtn:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: 0.01rem 0.01rem 0.2rem #999;
}